# .gitignore
secret-data.md
__pycache__/
*.pyc
*$py.class
*.so
*.pyo
*.pyd
*.pyw
*.pyz
*.egg-info/
dist/
build/
*.egg
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.lo
*.la
*.pc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vspscc
*.vssscc
*.suo
*.sdf
*.scc
*.ncb
*.aps
*.plg
*.opt
*.tmp
*.ilk
*.pdb
*.idb
*.ipdb
*.log
*.out
*.map
*.exp
*.lib
*.res
*.manifest
*.vs
*.vscode
*.idea
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn